<footer>
  <nav class="row navbar navbar-expand-lg">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a href="" class="nav-link ml-5 mr-5">FAQ</a></li>
          <li class="nav-item"><a href="" class="nav-link">Mentions légales</a></li>
          <div class="text-center"><img class="logo ml-5 mr-5" src="../../assets/images/Boardgame-logo.svg" alt="logo"></div>
          <li class="nav-item"><a href="" class="nav-link">Plan du site</a></li>
          <li class="nav-item"><a href="" class="nav-link ml-5 mr-5">Partenaires</a></li>
      </ul>
  </nav>

  <div class="text-center">©2020 Boardfriends. Tous droits réservés.</div>
</footer>
