/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    margin:0;
    padding:0;
    color: white;
    background-color: #1B80BF;
}

h1, h2, h3, h4, h5 {
    color: #F2BB15;
}

ul{
    padding: 0;
}

ul, li{
    background-color: transparent;
}